.Cell {
  height: 100px;
  width: 100px;
  background-color: rgb(31, 32, 32);
  transition: background-color 0.7s ease;
}

.Cell-lit {
  background-color: rgb(185, 222, 237);
  box-shadow: 0 1px 1px rgba(185, 222, 237, 0.288),
    0 2px 2px rgba(185, 222, 237, 0.12), 0 4px 4px rgba(185, 222, 2370, 0.12),
    0 8px 8px rgba(185, 222, 237, 0.12), 0 16px 16px rgba(185, 222, 237, 0.12);
}
